@page "/"
@attribute [Authorize]

@inject ILocalStorageService localStorageSrv

<div class="container">
    <div class="jumbotron " style="  max-height:255px       /*background: url('images/bgH2O.png') no-repeat;*/">
        <p class="col-md-2">
            <img src="images/HDI.png" alt="logo HDI" class="img-responsive" style="width:140px" />
        </p>
        <h1>Timesheet</h1>
    </div>

</div>

@code {
    private bool isDialogOpen = false;

    private async Task onClosingPopup()
    {
        await localStorageSrv.RemoveItemAsync("token");
        isDialogOpen = false;
    }
}