@page "/"

@*<div class="container" style="min-width: 100%; height: 260px;">*@
 <div class="container">
    <div class="jumbotron " style="  max-height:255px       /*background: url('images/bgH2O.png') no-repeat;*/">
        <p class="col-md-2">
            <img src="images/HDI.png" alt="logo HDI" class="img-responsive" style="width:140px" />
        </p>
        <h1>Timesheet</h1>
    </div>

</div>