@page "/payroll"
@attribute [Authorize]

@* Todo: move these styles to a new css file *@
<style>
    .whitesmoke-tab {
        background-color: whitesmoke;
    }

    .blue-tab {
        background-color: deepskyblue;
    }
</style>

<h3>Payroll</h3>

<TelerikTabStrip>
    <TabStripTab Title="Timesheets" Class="whitesmoke-tab">
        <TimesheetsControlWTSComponent />
    </TabStripTab>
    <TabStripTab Title="Time Off" Class="whitesmoke-tab">
        <TimeoffComponent IsSupervisor="false" />
    </TabStripTab>
</TelerikTabStrip>

@code {
    [CascadingParameter]
    public DialogFactory Dialogs { get; set; }
    private bool _windowVisible = true;

    private void OpenWindow()
    {
        _windowVisible = true;
    }
    private void CloseWindow()
    {
        _windowVisible = false;
    }
}
