.controls {
    display: flex;
    gap: 15px;
}

.control {
    width: 20%;
}

    .control > label {
        font-weight: bold;
        margin-right: 5px;
    }

.approve-button {
    width: 14%;
    text-align: right;
}

.grid-container {
    margin-top: 5px;
    max-height: 700px;
    overflow: scroll;
}

::deep .k-picker-sm {
    font-size: 0.82rem;
}

.grid-actions {
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.custom-button {
    border: 1px solid #5798be;
    background-color: #5798be;
}

.status-button {
    border-radius: 10px;
    cursor: default;
}

.not-submited {
    background-color: var(--not-submited);
    border-color: var(--not-submited);
    color: white;
}

.pending {
    background-color: var(--pending);
    border-color: var(--pending);
    color: black;
}

.approved {
    background-color: var(--approved);
    border-color: var(--approved);
    color: white;
}

.rejected {
    background-color: var(--rejected);
    border-color: var(--rejected);
    color: white;
}
