.cursor-pointer {
    cursor: pointer;
}

.approved {
    background-color: var(--approved);
}

.pending {
    background-color: var(--pending);
}

.rejected {
    background-color: var(--rejected);
}
