.time-grid {
    table-layout: fixed;
    font-size: 0.80rem;
}

.custom-margin-table {
    margin-top: -16px;
}

.thead-time-grid tr {
    text-align: center;
    font-size: 0.78rem;
}

    .thead-time-grid tr th {
        padding: 8px;
        background-color: #e3eef4;
        border-color: #dee2e6;
        color: #212529;
        font-weight: 800;
    }


.tbody-time-grid tr td {
    padding: 3px 2px;
    background-color: #f1eded;
}

    .tbody-time-grid tr td.icon-cell {
        padding: 8px;
        text-align: center
    }

    .tbody-time-grid tr td.icon-cell span {
        cursor: pointer;
    }

    .tbody-time-grid tr td.total {
        padding-top: 10px;
        text-align: center;
        font-weight: 800;
    }

.cell-container {
    position:relative;
}

.row-client {
    width: 180px;
}

.row-project {
    width: 180px;
}

.row-activity {
    width: 180px;
}

.row-timeoff {
    width: 540px !important;
}

.row-billable {
    width: 70px;
}

.row-day {
    width: 40px;
}

.timeoff-title {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 6px;
    padding-left: 10px;
    font-size: 15px;
}

.timeoff-status {
    height: 15px;
    width: 15px;
    margin-top: 4px;
    border-radius: 10px;
}

.status-approved {
    background-color: lawngreen;
}

.status-pending {
    background-color: #cfea39;
}

.status-rejected {
    background-color: red;
}

.timeoff {
    background-color: #d3dfe6 !important;
}

.timeoff-cell {
    font-size: 0.82rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    cursor:pointer;
}

@media only screen and (max-width: 1400px) {
    .time-grid {
        width: 120%;
    }

    .row-client {
        width: 80px;
    }

    .row-project {
        width: 180px;
    }

    .row-activity {
        width: 220px;
    }

    .row-timeoff {
        width: 480px !important;
    }

    .row-billable {
        width: 130px;
    }
}