

<style>
    .nav-item .nav-link {
        color: white; /* Unselected labels will be white */
    }
    .nav-item .nav-link.active {
         background-color: #17a2b8;
        color: white; /* Change the text color to white for better visibility */
    }
</style>

<ul class="navbar-nav" style="color:black">
    <li class="nav-item">
        <NavLink class="nav-link" href="activities">Activities</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="clients">Clients</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="departments">Departments</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="payroll">Payroll</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="projects">Projects</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="team">Team</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="testpayroll">Testpayroll</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="timesheet">Timesheet</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="users">Users</NavLink>
    </li>
</ul>

